In [1]:
import pandas as pd

In [7]:
#read the csv file
shipments=pd.read_csv('data/sample_shipments.csv')

In [9]:
shipments.head()

,BL Number,Shipment ID,Origin,Destination,Departure Date,ETA,Carrier,Weight (tons),Status
0,BL12345678,SHP001,Hamburg,New York,2025-05-01,2025-05-10,Maersk,10,In Transit
1,BL23456789,SHP002,Shanghai,Rotterdam,2025-05-02,2025-05-12,CMA CGM,15,In Transit
2,BL34567890,SHP003,Rotterdam,Lagos,2025-05-03,2025-05-15,Hapag-Lloyd,8,In Transit
3,BL45678901,SHP004,Lagos,Hamburg,2025-05-04,2025-05-18,MSC,12,In Transit
4,BL56789012,SHP005,Los Angeles,Shanghai,2025-05-05,2025-05-20,Evergreen,20,In Transit

In [11]:
#convert date column to datetime
shipments["Departure Date"] =pd.to_datetime(shipments["Departure Date"])
shipments["ETA"] =pd.to_datetime(shipments["ETA"])

In [13]:
#calculate transit days
shipments["Transit Days"] = (shipments["ETA"] - shipments["Departure Date"]). dt.days

In [17]:
shipments["Transit Days"]

0     9
1    10
2    12
3    14
4    15
Name: Transit Days, dtype: int64